h1 {
    text-align: center;
}

body {
    background-image: url("https://images.unsplash.com/photo-1625504452320-e17bf7287faf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2434&q=80");
    background-position: center;
    font-family: monospace;
}

p {
    font-style: italic;
    text-align: center;
    color: lightgray;
}

#wrapper, #footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-div {
    text-align: left;
    display: inline-block;
    padding: 20px;
    height: 500px;
    width: 300px;
    border: 1px solid black;
    background-color: white;
    box-shadow: 0 2px 2px black;
    margin: 5px;
}

.forms {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    margin: 5px;
    font-family: monospace;
    border: 1px solid black;
}

button:hover {
    background-color: black;
    color: white;
}

#new-task {
    font-family: monospace;
    text-align: center;
}

#edit {
    margin-left: 400px;
}

.editmode {
    background-color: black;
    color: white;
}
