@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

h1 {
    text-align: center;
}

body {
    background-color: hsl(59, 68%, 91%);
    background-position: center;
    font-family: quicksand;
}

p {
    font-style: italic;
    text-align: center;
    color: lightgray;
}

#wrapper, #footer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.inner-div {
    text-align: left;
    display: inline-block;
    padding: 20px;
    height: 300px;
    width: 300px;
    border: 1px solid black;
    background-color: white;
    box-shadow: 0 1px 1px black;
    margin: 5px;
    overflow: scroll;
}

.forms {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    margin: 5px;
    font-family: quicksand;
    border: 1px solid black;
}

button:hover {
    background-color: black;
    color: white;
}

#new-task {
    font-family: quicksand;
    text-align: center;
}

